<!DOCTYPE html>
<html>
<head>
    <title><%= storeName %></title>
</head>
<body>

    <!-- Store Name -->
    <h1><%= storeName %></h1>

    <!-- Book List -->
    <ul>
        <% books.forEach(book => { %>
            <li>
                <strong><%= book.title %></strong> - <%= book.author %>
            </li>
        <% }) %>
    </ul>

    <!-- Script -->
    <script>
        console.log("Welcome to My Book Store!");
    </script>

</body>
</html>
